<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h1>Exemplo de utilização - Marvel Comics API</h1>



@foreach (var itens in ViewBag.ListaPersonagens)
{
    <div class="row">
        <div class="col-md-4">
            <img src="@itens.UrlImagem" height="200" width="200" />
        </div>
        <div class="col-md-4">
            <p>@itens.Nome</p>
            <p>@itens.Descricao</p>
        </div>
    </div>
}
@*<div style="float: left; margin-right: 50px;">
        <img src="@Model.UrlImagem" height="200" width="200"/>
    </div>
    <div style="margin-left: 50px;">
        <h2><a href="@Model.UrlWiki">@Model.Nome</a>
        </h2>
        <p>@Model.Descricao</p>
    </div>*@
